---
import Code from "astro/components/Code.astro";
import type { BundledLanguage } from "shiki/dist/types.mjs";
import { t } from "i18next";

const { title, code, lang, style } = Astro.props;
interface Props {
  title?: string;
  code: string;
  lang?: BundledLanguage;
  style?: string;
}
---

<div class="mb-4 flex flex-col">
  {
    title === undefined ? undefined : (
      <h2 class="text-xl font-extrabold my-4 uppercase mx-auto">{title}</h2>
    )
  }
  <div class=`my-4 ${style ? style : ''}` set:html={code} />
  <div>
    <h3 class="my-4 text-md font-bold">{t("pages.journal_examples_code")}</h3>
    <Code code={code} lang={lang} theme={"github-light"} />
  </div>
</div>
