---
import Card from "../../components/Card.astro";
import ListCard from "../../components/ListCard.astro";
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import SocialList from "../../components/SocialList.astro";

changeLanguage("en");
---

<Layout title={t("site.title")}>
  <main class="container mx-auto px-4">
    <h1 class="font-bold text-2xl my-4">{t("site.title")}</h1>

    <ListCard title={t("pages.index_components")}>
      <Card
        title={t("pages.journal")}
        description={t("pages.journal_desc")}
        route={localizePath("/journal")}
      />
      <Card title="???" description="???" route="#" />
      <Card title="???" description="???" route="#" />
    </ListCard>

    <ListCard title={t("pages.github_title")}>
      <Card
        title={t("pages.github")}
        description={t("pages.github_desc")}
        route="https://github.com/deniztadice/dft/releases"
      />
    </ListCard>

    <SocialList />
  </main>
</Layout>
