---
import Card from "../components/Card.astro";
import ListCard from "../components/ListCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto px-4">
    <h1 class="font-bold text-2xl my-4">Deniz's Foundry Tools</h1>

    <ListCard title="Components of module">
      <Card title="Journal" description="Custom blocks" route="/dft/journal" />
      <Card title="???" description="???" route="#" />
      <Card title="???" description="???" route="#" />
    </ListCard>

    <ListCard title="Github">
      <Card title="Releases" description="Actual releases" route="https://github.com/deniztadice/dft/releases" />
    </ListCard>

    <ListCard title="Social links">
      <Card
        title="Website"
        description="deniztadice.xyz"
        route="https://deniztadice.xyz/"
      />
      <Card
        title="Telegram"
        description="@deniztadice"
        route="https://t.me/+sVQGdhKrVuM1NGIy"
      />
      <Card
        title="YouTube"
        description="@deniz_ta_dice"
        route="https://www.youtube.com/@deniz_ta_dice"
      />
      <Card
        title="Steam"
        description="dk_denizkose"
        route="https://steamcommunity.com/id/dk_denizkose/"
      />
    </ListCard>
  </main>
</Layout>
