---
import Card from "../components/Card.astro";
import ListCard from "../components/ListCard.astro";
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";
import SocialList from "../components/SocialList.astro";

changeLanguage("uk");
---

<Layout title={t("pages.journal")}>
  <main class="container mx-auto px-4">
    <h1 class="font-bold text-2xl my-4">
      {t("site.title")} - {t("pages.journal")}
    </h1>

    <ListCard title={t("pages.index_menu")}>
      <Card
        title={t("pages.journal_showcase")}
        description={t("pages.journal_showcase_desc")}
        route={localizePath("/journal/showcase")}
      />
      <Card
        title={t("pages.journal_examples")}
        description={t("pages.journal_examples_desc")}
        route={localizePath("/journal/examples")}
      />
    </ListCard>

    <SocialList />
  </main>
</Layout>
