---
import "../../../../../styles/journal.css";
import "../../../../../styles/fonts.css";
import Announce from "../../../components/Announce.astro";
import Example from "../../../components/journal/Example.astro";
import Layout from "../../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title=`${t("pages.journal")} - ${t("pages.journal_examples")}`>
  <main class="container mx-auto px-4">
    <h1 class="font-bold text-2xl my-4">
      {t("site.title")} - {t("pages.journal")} - {t("pages.journal_examples")}
    </h1>
    <Announce
      title={t("announces.mobile_not_supported")}
      style="visible md:hidden"
      warning
    />
    <div class="container bg-white p-4" style="font-family: FixelText;">
      <Example
        title="ASIDE RIGHT"
        code=`
<aside class="dft right">
    <header>
        <span class="title">ASIDE RIGHT</span>
        <span class="type">Description</span>
    </header>
    <p>TEXT</p>
</aside>
            `
        lang="html"
      />
      <Example
        title="ASIDE LEFT"
        code=`
<aside class="dft left">
    <header>
        <span class="title">ASIDE LEFT</span>
        <span class="type">Description</span>
    </header>
    <p>TEXT</p>
</aside>
            `
        lang="html"
      />
      <Example
        title="Description"
        style="md:w-1/2 md:mx-auto"
        code=`
<div id="example">
    <section class="dft description">
        <p>TEXT</p>
    </section>
</div>
            `
        lang="html"
      />
      <Example
        title="ENCOUNTER"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft encounter">
    <header class="encounter-img">
        <span class="title">ENCOUNTER</span>
        <span class="type">TYPE</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="TREASURE"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft treasure">
    <header class="treasure-img">
        <span class="title">TREASURE</span>
        <span class="type">TYPE</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="ITEM"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft item">
    <header class="item-img">
        <span class="title">ITEM</span>
        <span class="type">Type</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="FVTT"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft fvtt">
    <header class="fvtt-img">
        <span class="title">FVTT</span>
        <span class="type">Type</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="REWARD"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft reward">
    <header class="reward-img">
        <span class="title">REWARD</span>
        <span class="type">EXP</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="PLAYER"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft player">
    <header class="player-img">
        <span class="title">PLAYER</span>
        <span class="type">Type</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="PET"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft pet">
    <header class="pet-img">
        <span class="title">PET</span>
        <span class="type">Type</span>
    </header>
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
      <Example
        title="Default box"
        style="md:w-1/2 md:mx-auto"
        code=`
<section class="dft default-box">
    <p>TEXT</p>
</section>
            `
        lang="html"
      />
    </div>
  </main>
</Layout>
