---
import "../../../../../styles/journal.css";
import "../../../../../styles/fonts.css";
import Announce from "../../../components/Announce.astro";
import Layout from "../../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title=`${t("pages.journal")} - ${t("pages.journal_showcase")}`>
  <main class="container mx-auto px-4">
    <h1 class="font-bold text-2xl my-4">
      {t("site.title")} - {t("pages.journal")} - {t("pages.journal_showcase")}
    </h1>
    <Announce
      title={t("announces.mobile_not_supported")}
      style="visible md:hidden"
      warning
    />
    <div class="container bg-white p-4" style="font-family: FixelText;">
      <aside class="dft right">
        <header>
          <span class="title">Lorem</span>
          <span class="type">lorem lorem</span>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At minima
          maxime laborum, repellendus fugiat aliquid veritatis ex dolorem
          asperiores accusamus perspiciatis quae corrupti corporis dolores nisi,
          cum accusantium magnam cumque.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          architecto maiores magnam vero! Repellat, dignissimos distinctio
          perspiciatis necessitatibus quos a quibusdam, corrupti nulla
          assumenda, maiores cupiditate laborum suscipit ea sapiente!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          repellendus architecto accusamus ea. Esse rem atque, saepe optio natus
          officiis doloremque vel excepturi eos quis voluptas accusantium fuga,
          harum nobis?
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          suscipit expedita vitae veritatis doloremque reiciendis odio id
          officiis asperiores. Modi veniam et ullam laborum consectetur cum
          explicabo autem velit asperiores.
        </p>
      </aside>
      <!-- section  description -->
      <section class="dft description">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
          dignissimos voluptatem corporis repudiandae, illo tempore, officia eos
          doloremque porro sapiente voluptatum. Minus quia temporibus ab iure
          suscipit quibusdam, dicta iste!
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati ex
          ad aspernatur, quibusdam corporis mollitia quam velit, libero quasi
          rerum facere natus, odio quo doloremque cumque eaque eos vitae porro!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          enim culpa quas id cumque. Debitis corrupti reiciendis aliquam ipsum
          ex suscipit voluptates? Perferendis cupiditate hic totam placeat
          assumenda earum autem!
        </p>
      </section>
      <!-- section  encounter -->
      <section class="dft encounter">
        <header class="encounter-img">
          <span class="title">Owlbear</span>
          <span class="type">CREATURE 3</span>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          laborum dolor voluptatum beatae dignissimos facilis. Fugit obcaecati
          blanditiis sequi asperiores, esse aut, nobis suscipit laudantium sunt
          rerum, corrupti vel aliquam?
        </p>
        <hr />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quia
          ex repellat dolore impedit magni perspiciatis. Rerum quibusdam,
          exercitationem eum dolore voluptas mollitia omnis dolor, asperiores
          cum eius, enim id.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi fugit
          ad cumque iste ipsum, porro minus quo libero excepturi cum tempore
          velit commodi dignissimos sit nihil deleniti autem animi? Animi?
        </p>
      </section>
      <!-- section  treasure -->
      <section class="dft treasure">
        <header class="treasure-img">
          <span class="title">BOX</span>
          <span class="type">COINS</span>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          sint consectetur maxime reprehenderit eligendi corrupti aliquam
          pariatur dolor, architecto itaque dolorum dolores cum eveniet sit
          distinctio provident quis praesentium voluptas.
        </p>
      </section>
      <!-- aside  right -->
      <aside class="dft left">
        <header>
          <span class="title">Lorem</span>
          <span class="type">lorem lorem</span>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          distinctio molestiae dolor vero sit maiores delectus in, earum quidem,
          harum optio ullam sapiente consequuntur et officia voluptatem quasi ad
          fugit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          eius mollitia perferendis rem molestias consequatur quidem, quod
          deleniti magnam repudiandae quae eos, voluptatibus suscipit dolorum
          labore, accusantium vitae iusto doloribus!
        </p>
      </aside>
      <!-- section  item -->
      <section class="dft item">
        <header class="item-img">
          <span class="title">Potion</span>
          <span class="type">ITEM 3</span>
        </header>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
          libero perferendis voluptatibus commodi aut ratione delectus hic quam,
          suscipit voluptatem voluptates incidunt laboriosam quo amet numquam
          deserunt odit. Numquam, libero.
        </p>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat
          repellat iure ducimus aperiam, magnam velit dignissimos nostrum, illo
          quod tempore corporis ratione minus quibusdam itaque quas, aliquid
          numquam consectetur!
        </p>
      </section>
      <!-- section  fvtt -->
      <section class="dft fvtt">
        <header class="fvtt-img">
          <span class="title">CASTLE</span>
          <span class="type">Scene</span>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro hic
          labore quia dignissimos, at maiores illum blanditiis adipisci
          asperiores voluptate provident dolorem? Animi facere hic molestias ex
          quaerat pariatur delectus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, atque?
          Quae soluta ratione, voluptates placeat modi quidem explicabo eos
          ducimus, facilis aliquid aperiam fugit maxime quo ullam, dolorem
          expedita non.
        </p>
      </section>
      <!-- section  reward -->
      <section class="dft reward">
        <header class="reward-img">
          <span class="title">BATTLE</span>
          <span class="type">800</span>
        </header>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
          tenetur? Architecto, ipsam, provident ratione quas similique,
          repudiandae in doloribus voluptas rerum aliquam a aut numquam facilis
          illo ipsa quaerat commodi!
        </p>
      </section>
      <!-- section  player -->
      <section class="dft player">
        <header class="player-img">
          <span class="title">GENDALF</span>
          <span class="type">Wizard 5</span>
        </header>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum enim
          dolorum necessitatibus quis beatae quisquam dolorem facilis repellat
          quaerat quod. Tenetur, eveniet similique perspiciatis suscipit at
          voluptatem quam sunt illo?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          obcaecati veniam quidem qui dolores illum suscipit inventore quo
          repellendus dolore, cupiditate at, quia odio, veritatis pariatur
          quasi! Unde, animi rerum! Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Ratione blanditiis natus quos dolorum sunt
          laboriosam nisi repudiandae, ex molestias quibusdam veritatis fuga
          pariatur, qui ea consequuntur? Excepturi quia et animi.
        </p>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas non
          ut expedita voluptatum labore deleniti facilis quasi culpa
          exercitationem laudantium perspiciatis, consequuntur alias sapiente
          minima ullam cumque libero iusto! Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatum pariatur dolore illum est
          alias. Blanditiis possimus, deleniti cumque est id enim expedita?
          Explicabo at repudiandae nesciunt sequi velit cum obcaecati.
        </p>
      </section>
      <!-- section  pet -->
      <section class="dft pet">
        <header class="pet-img">
          <span class="title">Dog</span>
          <span class="type">FAMILIAR 8</span>
        </header>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ea fuga
          reprehenderit tempora quibusdam quasi beatae pariatur, qui rem
          eligendi corrupti, repudiandae fugit impedit dignissimos consequuntur
          ab! Temporibus, ut ex.
        </p>
      </section>
      <!-- section  default-box -->
      <section class="dft default-box">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
          corrupti doloribus necessitatibus asperiores! Debitis ullam nisi
          delectus, amet consequuntur ab voluptates eum porro cum voluptatem in?
          Reiciendis repudiandae fugit nulla. Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Iste praesentium dicta, quibusdam,
          sapiente in dignissimos nostrum earum quae sint culpa maxime excepturi
          perferendis enim aut. Maxime error similique adipisci consectetur!
        </p>
      </section>
    </div>
  </main></Layout
>
