---
const { title, description, route, image } = Astro.props;

interface Props {
  title: string;
  description: string;
  route: string;
  image?: string;
}
---

<div
  class=`flex flex-col bg-amber-200 hover:bg-amber-300 rounded-lg p-3 bg-cover bg-center`
  style={image === undefined ? "" : `background-image: url('${image}');`}>
  <h3 class="font-bold">
    <a href={route} rel="noopener noreferrer">{title}</a>
  </h3>
  {description === undefined ? "" : <p>{description}</p>}
</div>
