---
const { title } = Astro.props;

interface Props {
  title: string;
}
---

<div class="grid gap-4 grid-cols-2 md:grid-cols-4 mb-4">
  <h2 class="col-span-2 md:col-span-4 font-bold uppercase">{title}</h2>
  <slot />
</div>
